html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: black;
	margin: 4px;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: pink;
	text-align: center;	
	font-size: 20px;
}

h1 {
 	color: purple;
 	font-weight: bold;
 	font-family: verdana;
}

.menu {
	display: block;
	font-size: 20px;
	margin: auto;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	width: 30%;
	padding: 5px;
	background-color: rgb(154, 167, 243);
	border: 2px solid black;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
}

.menu:hover{
	background-color: #aaa;
}

.menu:visited{
	color: black;
}

img.sobre {
	max-width:25%;
	max-height:25%;
}

@media (mid-width: 321px){

	width: 25px;
	height: 25px;
}

body{
	background-image: url(https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&w=400);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #f0f0f0;
}